.skeleton-cp-container {
    background-color: #fafaf9;
    width: 100%;
    /*height: 32px;*/
    border-bottom: 2px solid #f3f2f2;
    display: inline-block;
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(#dddbda, 0) 0, rgba(#dddbda, 0.2) 20%, rgba(#dddbda, 0.5) 60%, rgba(#dddbda, 0));
        animation: shimmer 3s infinite;
        content: '';
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}

.skeleton-cp-container>div {
    background-color: #fafaf9;
    border-bottom: 2px solid #f3f2f2;
    width: 100%;
}

.skeleton-cp-header {
    padding: 32px 24px;
}

.skeleton-cp-table-header {
    height: 39px;
    margin-bottom: 5px;
}

.skeleton-cp-table-item {
    height: 50px;
    /* animation: animation 1s infinite;*/
}