.skeleton-fa-container {
    background-color: #f3f2f2;
    width: 100%;
    display: inline-block;

    &>div {
        background-color: #fafaf9;
        width: 100%;
    }

    .skeleton-fa-header {
        /* height: 32px; */
        padding: 20px 10px;
        display: flex;
        /* justify-content: space-between; */
        /* align-items: center; */
        flex-direction: column;
        /* margin: 0 auto; */
        /* max-width: 1280px; */
        width: 100%;
        margin-bottom: 20px;

        &>.skeleton-row {
            width: 90%;
            display: flex;
            justify-content: space-between;
            max-width: 1280px;
            margin: 0 auto;
            margin-bottom: 5px;
        }

    }

    .skeleton-fa-table {
        margin: 0 auto;
        max-width: 1280px;
        width: 90%;
        margin-bottom: 20px;
    }

    .skeleton-table-item{
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        margin-bottom: 5px;

        position: relative;
        overflow: hidden;

        & > div {
            margin-right: 10px;
            &:last-of-type {
                /*float: left;*/
            }
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(90deg, transparent 0, rgba(#f3f2f2, 0.6) 30%, rgba(#f3f2f2, 1) 40%, transparent);
            animation: shimmer 1.5s infinite;
            content: '';
        }

        @keyframes shimmer {
            100% {
                transform: translateX(100%);
            }
        }

        .skeleton-shape {
            margin-right: 5px;
        }
    }
}