.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #dddbda;
    position: relative;
    cursor: pointer;
}

.checkbox.small {
    width: 12px;
    height: 12px;
}

.checkbox.checked {
    background: #0070d2;
}
