.dropdown-checkbox-container {
	position: relative;
}
.dropdown-checkbox-container > ul {
    z-index: 1;
    padding: 10px;
	position: absolute;
    list-style: none;
    min-width: 100px;
    background: white;
    text-align: left;
    top: 20px;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    white-space: nowrap;
}
.dropdown-checkbox-container > ul:focus {
    outline: none;
}

.dropdown-checkbox-container > ul > li  {
    display: flex;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-checkbox-container > ul > li .checkbox {
   margin-right: 5px;
}

.dropdown-checkbox-container > ul > li:not(:last-child)  {
    margin-bottom: 5px;
}

.dropdown-placeholder {
    display: flex;
    align-items: center;
    cursor: pointer;
}
