.search-wrapper {
    position: relative;
    width: 100%;
}

.transparent .search-wrapper .search-input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #CCCCCC;
}

.search-wrapper > svg {
	position: absolute;
	top: 8px;
	left: 13px;
	z-index: 2;
}
