.negotiate-container{
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.negotiate-container{
  cursor: default;
}

.negotiate-input-wrapper {
  position: relative;
  min-width: 50px;
  max-width: 120px;
  flex-basis: auto;
  flex-grow: 1;
}

.negotiate-icon {
	visibility: hidden;
  position: absolute;
  top: 1px;
  left: 4px;
  z-index: 2;
}

.negotiate-input {
	border: none;
  height: 20px;
  width: 100%;
  border-bottom: 1px solid transparent;
  background-color: white;
  box-sizing: border-box;
}

.negotiate-input-wrapper.negotiated > .negotiate-input{
  color: #080707;
}

.negotiate-input-wrapper.readOnly {
  cursor: default;
  font-size: 13px;
}

/***********************************************************************/

/*HOVER*/
.negotiate-input-wrapper:hover .negotiate-icon {
	visibility: visible;
}

.negotiate-input-wrapper:hover .negotiate-input {
	border-color: #747474;
}

/*FOCUS*/
.negotiate-input-wrapper.focused .negotiate-icon {
    visibility: visible;

}

.negotiate-input:focus {
	border-color: #0070d2;
}


input.negotiate-input::-webkit-inner-spin-button,
input.negotiate-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.discount-info {
    width: 100%;
}
.discount {
	color: #4bca81;
	font-size: 13px;
}

.invalid .discount-amount {
    color: #d81c2a;
}

.discount > div {
    display: inline-block;
	color: #747474;
	font-size: 11px;
}
