/* FA Spacing */
// Some helper classes to help with general spacing.

$spacing-sizes: (
	none: 0,
	xxsm: 0.25rem,
	xsm: 0.25rem * 2,
	sm: 0.25rem * 4,
	md: 0.25rem * 6,
	lg: 0.25rem * 8,
	xlg: 0.25rem * 16,
	xxlg: 0.25rem * 24
);

$spacing-directions: (
	'top',
	'right',
	'bottom',
	'left'
);

$spacing-properties: (
	'padding',
	'margin'
);

@each $property in $spacing-properties {
	@each $direction in $spacing-directions {
		@each $size, $value in $spacing-sizes {
			.fa-#{$property}-#{$direction}-#{$size} {
				#{$property}-#{$direction}: $value;
			}
		}
	}
}
