/* FA Title */
// Title component.

.fa-title {
	color: $gray-dark;
	display: inline-block;
	font-size: 0.75rem;
	margin: 0;
	margin-bottom: 0.25rem;
}

// Colours
.fa-title-light {
	color: $white;
}

.fa-title-dark {
	color: $black;
}

// Sizes
.fa-title-lg {
	font-size: 1.125rem;
}
