/* FA Title */
// Title component.

.fa-title {
	color: #999;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: $font-weight-bold;
	margin: 0;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}
