@mixin unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#discount-codes-tab {

    pre {

        white-space: pre-wrap;
        background-color: #eff0f1;
        color: #393318;
        border-radius: 3px;
        font-size: 13px;
        padding: 3px 6px;
        border: 1px solid #e4e6e8;
    }


    .dg-select {
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }

    .container__checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .product-card__container.product-open .container__header {
        border-bottom: 1px dashed var(--main-bg);
    }

    .dynamic-group-discounts {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > div {
            flex: 1;
            padding: 0px 10px;

            &:last-of-type {
                padding-right: 0px;
            }

            &:first-of-type {
                padding-left: 0px;
            }

        }

        select, input {
            padding: 5px 10px;
            border: 1px solid #dddbda;
            width: 100%;
        }

        label {
            display: block;
        }
    }

/*    .dynamic-group-editor, .dynamic-group-description {
        padding: 0 1.5rem 0.5rem 1.5rem;
    }*/

    .commercial-product-body {
        padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    }

/***********************************/

.input-box {

    &.normal {
        min-width: 150px;
        max-width: 300px;
        flex-basis: auto;
        /* default value */
        flex-grow: 1;

        padding: 5px 10px;
    }

    &.big {
        min-width: 300px;
        max-width: 620px;
        flex-basis: auto;
        /* default value */
        flex-grow: 1;
        margin-bottom: 10px;
        padding: 5px 0px;
    }

    .dg-label {
        display: flex;
        align-items: center;
    }

    .input-field {
        display: flex;
        min-height: 1rem;
        width: 100%;
        overflow: hidden;
    }

    .dg-input {
        font-size: 0.875rem;
        outline: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        padding: 4px 2px;
        border: 1px solid #dddbda;
        background: transparent;
        border-radius: 4px;
    }

    .dg-input.dg-input-large {
        padding: 8px 4px;
        font-size: 1rem;
    }

    .dg-input:focus {
        border: 1px solid #4bca81;
    }

    input:disabled {
        color: #545454;
    }

    select {
        font-size: 0.875rem;
        outline: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        padding: 4px 2px;
        border: 1px solid #dddbda;
        background: transparent;
        border-radius: 4px;
    }
}

.dg-group-title {
    padding: 5px 10px;
    background: var(--card-bg);
    /*font-size: 1.125rem;*/
    color: var(--font-c);


    h2 {
        margin: 0;
    }

    .dg-title-dec {
        font-style: italic;
    }
}

/***********************************/
.dg-logic-form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding: 5px 0px;
}

.dg-logic-form>input:first-child {
    border-radius: 4px 0px 0px 4px;
}

.dg-logic-form>.new-logic-field {
    padding: 5px 10px;
    border: 1px solid #dddbda;
    border-right: 0;

    &:focus {
        outline: none;
    }
}

.dg-logic-form>button.new-logic-field {
    background: #0070d2;
    border-radius: 0px 4px 4px 0px;
    border: 0;
    margin: 0;
}

.dg-logic-form>button.new-logic-field:disabled {
    background: #dddbda;
}



/***********************************/
.dg-group-circuits {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px 0px;
}

.dg-circuit {
    display: flex;
    flex: 1;
    /*padding: 0px 5px;*/
    align-items: stretch;

    &:not(:last-of-type) {
        margin-bottom: 5px;
    }

    > div {
        align-items: center;
        flex-basis: auto;
        flex-grow: 0;
        padding: 5px;
        border-right: 1px solid white;
    }

    .dg-circuit-index {
        background: #0070d2;
        color: white;
        border-right: 1px solid white;
    }

    .dg-circuit-configuration {
        flex: 1;
        padding: 5px 10px;
        background: #0070d2;
        color: white;
    }

    .dg-circuit-parsed {
        cursor: pointer;
        color: white;
        background: #d9675d;
        @include unselectable;

        &.checked {
            background: #4bca81;
        }
    }

    .dg-circuit-remove {
        cursor: pointer;
        background: #d9675d;
        border-right: none;
        display: flex;
    }
}

/***********************************/
}