/*OVERLAY*/
.overlay {
    background: rgba(176, 171, 171, 0.8);
}

.sf-modal {
    min-width: 980px;
    background-color: #fafaf9;
    padding: 0;
    top: 5%;
    margin: auto;
    right: 25%;
    position: absolute;
}

.sf-modal.confirmation {
    min-width: 580px;
    right: calc( 50% - 290px );
border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.sf-modal > div:not(div.modal-body) {
    display: inline-block;
}

.modal-header, .modal-footer {
    padding: 15px;
    box-sizing: border-box;
}

.confirmation .modal-footer {
    text-align: center;
}

.confirmation .modal-footer > button {
    margin-right: 12px;
}

.close-button {
    cursor: pointer;
}
.close-button:focus {
    outline: none;
}

.modal-navigation {
    margin-bottom: 8px;
    height: 36px;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    box-sizing: border-box;
}

.sf-modal .modal-header {
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #f0f2f7;
    background: white;
    margin-bottom: 1px;
    text-align: center;
}

.sf-modal .modal-header h2 {
    font-size: 20px;
    color: #222222;
    margin: 0;
}


.modal-body, .modal-footer {
    background-color: #fafaf9;
}

.modal-footer, .modal-header  {
    width: 100%;
}
.modal-footer  {
    padding: 1.5rem 1.25rem;
    text-align: right;
}
