.negotiation-modal .modal-body {
    flex-direction: column;
}

.modal-panel {
    border-right: 1px solid rgba(153, 153, 153, 0.5);
    background: #fdfdfd;
}



.modal-body.panel-closed .modal-panel {
    display: none;
}


.modal-body.panel-closed .modal-table-container {
    flex: 1;
    box-sizing: border-box;
}

/**********************************************/
.products-container {
    padding: 10px 20px;
}

.filter-container {
    padding: 10px 20px;
}

.action-container {
    padding: 10px 20px;
}

.filter-container {
    display: flex;
    flex-direction: row;
}

.filter-container>div {
    margin-right: 55px;
}

.products-container .label-text {
    padding: 7px 0px;
}


.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.horizontal-list>li {
    flex: 2;
    padding: 9px 12px;
    background: #0070d2;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: 15px;
}

.label-text {
    text-transform: uppercase;
    font-size: 11px;
    color: #5e5d60;
}

.horizontal-list>li:first-child {
    margin-left: 0px;
}


/**********************************************/

.product-count {
    background: #706e6b;
    color: white;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 9px;
    margin-left: 5px;
    font-size: 12px;
}

/**********************************************/
.table-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafaf9;
    border-bottom: 1px solid #dddbda;
    font-size: 11px;
    color: #5e5d60;
    text-transform: uppercase;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

.table-list-header>.list-cell {
    padding: 9px 16px;
    flex: 1;
    text-align: right;
}

.table-list-header> div.list-cell:first-child {
    text-align: left;
}

/*************************************************/
.rc-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    color: #706e6b;
    position: relative;
    padding: 0px 42px;
    box-sizing: border-box;
}

.rc-title>.title-upper {
    height: 21px;
    flex: 1;
    border-bottom: 1px solid #706e6b;
}

.rc-title>.title-lower {
    height: 21px;
    flex: 1;
    /*border-bottom: 1px solid #706e6b;*/
}

.rc-title>.title-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 8px;
    background: #fafaf9;
    display: flex;
    align-items: center;
}

.rc-title>.title-content svg {
    margin-right: 5px
}

/*************************************************/
/*Filtering */
.bulk-filter-container {
    padding: 16px;
    background: #f2f3f3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.bulk-filter-container > h4 {
    margin: 0;
    width: 100%;
    color: #514f4d;
    font-size: 14px;
    padding-bottom: 13px;
    display: inline-block;
    text-transform: uppercase;
}

.bulk-filter-container > h4 span {
    color: #0070d2;
    margin-left: 2px;
    font-weight: bold;
}


.bulk-filter-section {
    width: 30%;
    margin-right: 15px;
    display: inline-block;
}

.bulk-filter-section select {
    width: 100%;
    font-size: 13px;
    padding: 6px 9px;
    border-radius: 4px;
    border: 1px solid #dddbda;
    position: relative;
    height: 26px;
    font-size: 12px;
    padding: 2px 6px;

}

.bulk-filter-section select[disabled] {
    background: #e0e5ee;
}

.bulk-button-container {
    width: 30%;
    display: inline-block;
}



/*************************************************/
.list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddbda;
    font-size: 13px;
}

li.list-row:first-child {
    border-top: 1px solid #dddbda;
}

.list-row>.list-cell {
    padding: 16px;
    flex: 1;
    text-align: right;
}

.list-row.selected-row {
    background: #F3F2F2;
}

.list-row div.list-cell:first-child {
    /*display: flex;*/
    /*align-items: center;*/
    text-align: left;
}

.list-row div.list-cell:first-child svg{
    margin-right: 8px;
}

.list-row.selected-row div.list-cell:first-child {
    color: #0070D2;
}

/*************************************************/
.table-footer {
    padding: 14px 20px;
}

.list-row {
    /*cursor: pointer;*/
}

.list-cell.valid {
   color: #4bca81;
}
.list-cell.invalid {
   color: #d81c2a;
}

.list-cell .checkbox {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
/*************************************************/

.filter-container {
    border-top: 1px solid #dddbda;
    display: flex;
}
/*************************************************/