.categorisation-container {
	display: inline-block;
	height: 32px;
	align-items: center;
	min-width: 250px;
	cursor: pointer;
}

.fa-modal-body.panel-open .categorisation-container {
	display: none;
}

.categorisation-container svg {
	margin-right: 6px;
}

.categorisation-switch {
	display: inline-block;
	font-size: 0.8125rem;
	color: #0070d2;
}

.modal-panel {
	border-right: 1px solid #dddbda;
	background: #fdfdfd;
	display: flex;
	flex-direction: column;
	flex: 3;
}

.fa-modal-body.panel-closed .modal-panel {
	display: none;
}

.modal-table-container {
	flex: 7;
	display: flex;
	flex-direction: column;
}

.panel-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 57px;
	padding: 14px 14px 0 14px;
}

.panel-navigation--close {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 30px;
}

.panel-navigation--close>span {
	font-size: 13px;
	color: #0070d2;
	padding-left: 7px;
}

/**********************************************/
.modal-expand {
	cursor: pointer;
	position: absolute;
	top: -36px;
	right: 40px;
}

/**********************************************/

.modal-product-list {
	display: flex;
	flex-direction: column;
}
.panel-filter-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1;
}
.panel-filter-container .product-list {
	padding-bottom: 0;
}
.product-list-header {
	font-size: 12px;
	font-weight: 400;
	display: flex;
	color: #a2a295;
	justify-content: space-between;
	border-bottom: 1px solid #dddbda;
	padding: 0 1rem;
	height: 28px;
}

.product-list-header .header-th {
	font-size: 0.75rem;
	flex: 1;
	padding: 0.35rem 0.35rem 0.35rem 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-list {
	padding: 1rem;
	overflow-y: auto;
	flex: 1;
}

.product-list>.product-row {
	height: 28px;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.22);
	background-color: white;
	margin-bottom: 6px;
	display: flex;
	padding: 0px 12px;
	cursor: pointer;
	color: #080707;
}

.product-list>.product-row.selected {
	color: white;
	background-color: #0070d2;
}

.product-list>.product-row>span {
	font-size: 12px;
	flex: 1;
	line-height: 28px;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 5px;
}

.product-list>.product-row>span:first-child {
	color: #0070d2;
}

.product-list>.product-row.selected>span:first-child {
	color: white;
}

/* CATEGORIZATION */
.filter-category {
	margin-bottom: 0.5rem;
}
.category-title {
	width: 100%;
	font-size: 13px;
	color: #222222;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.category-title > span {
	margin-left: 5px;
}

.category-values-list {
	padding-left: 15px;
	padding-top: 5px;
}

.category-values-list > li {
	cursor: pointer;
	font-size: 13px;
	display: flex;
	align-items: center;
	padding-bottom: 5px;
}

.category-values-list > li span {
	margin-left: 10px;
}

.category-values-list > li .checkbox {
	display: inline-block;
}

.categorization-switch {
	align-items: center;
	cursor: pointer;
	display: flex;
	margin-right: 5rem;
}

.categorization-switch-link {
	color: #0070d2;
	font-size: 0.8125rem;
	padding-left: 0.5rem;
}

.filter-btns-row {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
	padding: 0 1rem;
}