.categorisation-container {
	display: inline-block;
	height: 32px;
	align-items: center;
	min-width: 250px;
	cursor: pointer;
}

.modal-body.panel-open .categorisation-container {
	display: none;
}

.categorisation-container svg {
	margin-right: 6px;
}

.categorisation-switch {
	display: inline-block;
	font-size: 0.8125rem;
	color: #0070d2;
}

.modal-panel {
	border-right: 1px solid rgba(153, 153, 153, 0.5);
	background: #fdfdfd;
}

.modal-body.panel-open {
	display: flex;
}

.modal-body.panel-open .modal-panel {
	flex: 3;
}

.modal-body.panel-closed .modal-panel {
	display: none;
}

.modal-body.panel-open .modal-table-container {
	flex: 7;
	box-sizing: border-box;
}

.modal-body.panel-closed .modal-table-container {
	flex: 1;
	box-sizing: border-box;
}

.panel-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 3.563rem;
	padding: 14px 14px 0px 14px;
}

.panel-navigation--close {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 30px;
}

.panel-navigation--close>span {
	font-size: 13px;
	color: #0070d2;
	padding-left: 7px;
}

/**********************************************/
.panel-filter-container {
	margin-bottom: 1.5rem;
	max-height: 400px;
	overflow: auto;
}

.modal-expand {
	cursor: pointer;
	position: absolute;
	top: -20px;
	top: -36px;
	right: 40px;
}

/**********************************************/

.modal-product-list {
	max-height: 400px;
	overflow-y: auto;
}

.product-list-header {
	background: #fdfdfd;
	position: sticky;
	top: 0;
}

.modal-product-list .product-list-header {
	background: #fafaf9;
}

.product-list-header {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	color: #514f4d;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(153, 153, 153, 0.5);
	padding: 0px 1rem;
}

.product-list-header .header-th {
	font-size: 0.625rem;
	flex: 1;
	padding: 8px 0px;
	height: 32px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 5px;
}

.product-list {
	padding: 1rem;
}

.product-list>.product-row {
	height: 28px;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.22);
	background-color: white;
	margin-bottom: 6px;
	display: flex;
	padding: 0px 12px;
	cursor: pointer;
	color: #080707;
}

.product-list>.product-row.selected {
	color: white;
	background-color: #0070d2;
}

.product-list>.product-row>span {
	font-size: 12px;
	flex: 1;
	line-height: 28px;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 5px;
}

.product-list>.product-row>span:first-child {
	color: #0070d2;
}

.product-list>.product-row.selected>span:first-child {
	color: white;
}

/*CATEGORIZATION*/
.category-title {
	width: 100%;
	font-size: 13px;
	color: #222222;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding-bottom: 0.75rem;
}

.filter-category {
	padding-left: 1rem;
}

.filter-category:nth-child(2) {
	padding-top: 1rem;
}

.filter-category:not(:last-child) {
	margin-bottom: 5px;
}

.category-title > span {
	margin-left: 5px;
}

.category-values-list {
	padding-left: 15px;
	padding-top: 5px;
}

.category-values-list > li {
	cursor: pointer;
	font-size: 13px;
	display: flex;
	align-items: center;
	padding-bottom: 5px;
}

.category-values-list > li span {
	margin-left: 10px;
}

.category-values-list > li .checkbox {
	display: inline-block;
}

.categorization-switch {
	align-items: center;
	cursor: pointer;
	display: flex;
	margin-right: 5rem;
}

.categorization-switch-link {
	color: #0070d2;
	font-size: 0.8125rem;
	padding-left: 0.5rem;
}
