.cs-app-wrapper {
    @include sbg(--details-app-wrapper-bg)
}

.details-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    .field-wrapper {
        margin-bottom: 1rem;
        border-radius: 0 0 0.25rem 0.25rem;
        min-height: 20rem;
        @include sbg(--details-description-wrapper-bg);
    }

    .approval-history-wrapper {
        margin-bottom: 1rem;

        .cs-card {
            border: none;
        }

        .cs-textarea-wrapper {
            margin-bottom: 0.5rem;
            padding: 0 0.75rem;
        }

        .cs-button-group {
            margin-bottom: 1rem;
            padding: 0 0.75rem;
        }
    }
}
