div.pagination-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.5rem 1rem;

	.cs-button-group {
		.page-btn,
		.page-btn-active {
			padding: 0 0.75rem;
		}
	}
}
