.datepicker-input-container {
	border: none;
	background: white;
	position: relative;
	display: flex;
	align-items: center;
}

.datepicker-input-container svg {
	position: absolute;
	right: 7px;
	fill: #b0adab;
	pointer-events: none;
}

.datepicker-input-container.disabled {
	border-bottom: 1px solid transparent;
}

.datepicker-input-container input {
	border-bottom: 1px solid transparent;
	color: #000;
	font-family: 'Salesforce Sans', Arial,sans-serif;
	font-size: 0.875rem;
	background: white;
}

.datepicker-input-container input:focus {
	outline: none;
}

.datepicker-readonly {
	padding: 0px 4px;
}
