.datepicker-input-container {
    border: none;
    background: white;
    border-bottom: 1px solid #dddbda;
    position: relative;
}
.datepicker-input-container svg{
    position: absolute;
    right: 7px;
}

.datepicker-input-container.disabled {
    border-bottom: 1px solid transparent;
}

.datepicker-input-container input {
    border: none;
    /* margin-bottom: 20px; */
    font-family:Salesforce Sans,Arial,sans-serif;
    height: 18px;
    font-size: 14px;
    color: #747474;
    /*padding: 0;*/
    background: white;
}

.datepicker-input-container input:focus {
    outline: none;
}

.datepicker-readonly {
    padding: 0px 4px;
}
