.expandable-article {
	display: flex;
	align-items: center;
}

.expandable-text {
	white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
}

.expandable-article.expanded {
	display: block;
	align-items: unset;
}
.expandable-article.expanded .expandable-text{
	white-space: pre-wrap;
}

.expandable-more {
 color: #006ccc;
}

.expandable-more:hover {
 text-decoration: underline;
 cursor: pointer;
}