.fa-pagination {
    list-style-type: none;
    border: 1px solid #dddbda;
    border-radius: 4px;
    display: inline-block;
    padding: 0;
}

.fa-pagination li > a {

    padding: 12px;
    cursor: pointer;
}

.fa-pagination li:first-of-type {
    /*background: red;*/
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fa-pagination li:last-of-type {
    /*background: red;*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fa-pagination .previous,
.fa-pagination .next,
.fa-pagination .page {
    /*padding: 12px;*/
    display: inline-block;
}

.fa-pagination .page {
    color: #0070d2;
}
.fa-pagination .page.active a{
    background: #0070d2;
    color: white;
}

.fa-pagination .previous {}