/* FA Flex */
// Flex object.

/* Widths */
$flex-widths: (
	fa-flex-1: 1,
	fa-flex-2: 2,
	fa-flex-3: 3,
	fa-flex-4: 4,
	fa-flex-5: 5,
	fa-flex-6: 6,
	fa-flex-7: 7,
	fa-flex-8: 8,
	fa-flex-9: 9,
	fa-flex-10: 10,
	fa-flex-11: 11,
	fa-flex-12: 12
);

@each $width, $value in $flex-widths {
	.#{$width} {
		flex: $value;
	}
}

/* Flex */
.fa-flex {
	display: flex;
	flex-wrap: wrap;
}

/* Item */
.fa-flex-item {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	width: 100%;
}

/* Horizontal */
.fa-flex-start {
	justify-content: flex-start;
}

.fa-flex-center {
	justify-content: center;
}

.fa-flex-end {
	justify-content: flex-end;
}

.fa-flex-between {
	justify-content: space-between;
}

.fa-flex-around {
	justify-content: space-around;
}

/* Vertical */
.fa-flex-top {
	align-items: flex-start;
}

.fa-flex-middle {
	align-items: center;
}

.fa-flex-bottom {
	align-items: flex-end;
}

.fa-flex-stretch {
	align-items: stretch;
}
