$font-primary: 'SFFont', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

body {
	* {
		-webkit-font-smoothing: antialiased;
	}
	.cs-app-wrapper, .cs-modal-root {

		/* APP TITLE */
		h1 {
			font-size: 1.125rem;
			font-weight: $font-weight-bold;
		}

		/* EXPANDABLE SECTION HEADER */
		h2 {
			font-size: 1rem;
		}

		/* MODAL TITLE */
		h3 {
			font-size: 1.1875rem;
		}

		/* SECTION TITLE */
		h4 {
			font-size: 1rem;
		}

		/* SUBSECTION TITLE */
		h5 {
			font-size: 0.9375rem;
		}

		/* SUBSECTION TITLE */
		h6 {
			font-size: 0.875rem;
		}
	}

}