.editor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #fbfbfb;
}

.header-button-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.main-container {
    background-color: #fbfbfb;
    padding-left: 17px;
    display: flex;
    flex: 1;
}

.main {
    margin: 0 auto;
    flex: 3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.sidebar {
    flex: 1;
    text-align: center;
}

.main-header {
    background: white;
    min-height: 226px;
    padding: 32px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 17px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
    background: white;
}

.main-header-row {
    width: 100%;
    margin-bottom: 12px;
    display: inline-block;
}

.main-frame-container {
    padding: 0px 15px;
}

.info-row {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 17px 20px 0px 20px;
    font-size: 13px;
    color: #080707;
    flex-direction: column;
}

.info-row > div{
    flex: 1;
        /*display: flex;*/
}

.add-product-box {
    padding: 54px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #dddddd;
}

.box-header-1 {
    font-size: 20px;
    color: #5e5d60;
}
.box-header-2 {
    font-size: 13px;
    color: #747474;
}
.box-button-container {
    padding: 13px;
}

.commercial-product-list-header {
    width: 100%;
    display: flex;
    align-items: center;
    /*margin: 0px 20px;*/
    padding: 9px 0px;
}

.commercial-product-list-header .commercial-product-fields > span {
    text-transform: uppercase;
    height: 14px;
    font-size: 11px;
    color: #5e5d60;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*background: white;*/
}

.commercial-product-list-header .commercial-product-search {

}

.commercial-product-search-container {
    display: flex;
}

.commercial-product-search-container > span{
    flex: 1;
}

.commercial-product-search-container > .commercial-product-search{
    flex: 1;
}