.editor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #fbfbfb;
}

.header-button-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.main-container {
    background-color: #fbfbfb;
    padding-left: 17px;
    display: flex;
    flex: 1;
}

.main {
    margin: 0 auto;
    flex: 3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.sidebar {
    flex: 1;
    text-align: center;
}

.main-header {
    background: white;
    min-height: 226px;
    padding: 32px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
}

.main-header-row {
    width: 100%;
    margin-bottom: 12px;
    display: inline-block;
}

.main-frame-container {
    padding: 0px 15px;
}

.info-row {
    padding: 17px 15px 14px 19px;
    font-size: 13px;
    color: #080707;

}

.add-product-box {
    padding: 54px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #dddddd;
}

.box-header-1 {
    font-size: 20px;
    color: #5e5d60;
}
.box-header-2 {
    font-size: 13px;
    color: #747474;
}
.box-button-container {
    padding: 13px;
}