.fa-row-menu-container {
    cursor: pointer;
}

.fa-row-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px;
    color: #0070d2;
    margin-bottom: 4px;
    text-decoration: none;
    position: relative;
}

.fa-row-container .menu {
    background: white;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    z-index: 1;
    left: 12px;
    padding: 5px 15px 5px 5px;
  min-width: 146px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.fa-row-container .menu > li{
    margin: 0;
    font-size: 12px;
    width: 100%;
    padding: 7px 0px 10px 14px;
    color: #2b2826;
    /*padding: 5px 0px;*/
    display: flex;
    align-items: center;

}

.fa-row-container .menu svg{
    margin-right: 10px;
}

.fa-row-container .menu > li:hover{
    cursor: pointer;
    /*text-decoration: underline; */
    background: rgba(119, 127, 139, 0.15);
}

.fa-row-container .menu:focus {
    outline: none;
}

.fa-row-text {
    line-height: 1.875rem;
    display: inline-block;
    padding-left: 17px;
}

.fa-row-text-container {
    width: calc(100% - 16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #0070d2;
}

.fa-row-text-container:focus {
    outline: none;
}

.fa-row-text-container:active {
    color: #0070d2;
}


.badge {
    background-color: rgba(119, 127, 139, 0.15);
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 10.5px;
    font-size: 0.75rem;
    /*font-weight: 700;*/
    line-height: normal;
    color: #777f8b;
    white-space: nowrap;
}

.badge-dark {
    background: #777f8b;
    color: white;
}

.badge-translucent {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.badge-black {
    background: #333333;
    color: white;
}