.fa-row-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px;
    color: #0070d2;
    margin-bottom: 4px;
    text-decoration: none;
}


.fa-row-text {
    line-height: 1.875rem;
    display: inline-block;
    padding-left: 17px;
}

.fa-row-text-container {
    display: flex;
    align-items: center;
}

.badge {
    background-color: rgba(119, 127, 139, 0.15);
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 10.5px;
    font-size: 0.75rem;
    /*font-weight: 700;*/
    line-height: normal;
    color: #777f8b;
    white-space: nowrap;
}

.badge-dark {
    background: #777f8b;
    color: white;
}

.badge-black {
    background: #333333;
    color: white;
}