/* FA Button */
// Button component.

.fa-button {
	align-items: center;
	background: $blue-sf;
	color: $white;
	border: 0;
	border-radius: 0.25rem;
	cursor: pointer;
	display: inline-flex;
	font-family: $font-primary;
	font-size: 0.75rem;
	min-height: 2rem;
	justify-content: center;
	padding: 0.25rem 1.25rem;
	position: relative;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background: $blue-sf-dark;
	}

	&:focus {
		box-shadow: 0 0 3px darken($blue-sf, 5%);
	}

	&:disabled {
		background: $gray;
		pointer-events: none;
	}

	.fa-invalid &:active,
	.fa-invalid &:focus,
	.fa-invalid &:hover {
		background: $red-dark;
	}

	.fa-disabled &:active,
	.fa-disabled &:focus,
	.fa-disabled &:hover {
		background: $gray-darker;
	}
}

.fa-button-lg {
	padding: 0.5rem 1.25rem;
}

/* Group */
.button-group {
	position: relative;
}

/* Colours */
.fa-button-light {
	background: $white;
	color: $blue-sf;
}

/* Transparent */
.fa-button-transparent {
	background: transparent;

	svg {
		fill: $white;
	}

	&:disabled {
		background: transparent;
		border: 1px solid $gray;
		color: $gray;

		svg {
			fill: $gray;
		}
	}
}

/* Border */
.fa-button-border-light {
	border: 1px solid $white;
}

.fa-button-border-dark {
	border: 1px solid $black;
}

/* Bare */
.fa-button-bare {
	align-items: center;
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	padding: 0;
}
