/* FA Button */
// Button component.

.fa-button {
	align-items: center;
	border: 0;
	border-radius: 0.25rem;
	color: $white;
	cursor: pointer;
	display: inline-flex;
	font-family: $font-primary;
	font-size: 0.75rem;
	min-height: 2rem;
	justify-content: center;
	padding: 0.25rem 1.25rem;
	position: relative;
	text-decoration: none;
	@include sbg(--main-c);
}

.fa-button-lg {
	padding: 0.5rem 1.25rem;
}

/* Group */
.button-group {
	position: relative;
}

/* Colours */
.fa-button-light {
	background: $white;
	color: $blue-sf;
}

/* Transparent */
.fa-button-transparent {
	background: transparent;
}

/* Border */
.fa-button-border-light {
	border: 1px solid $white;
}

.fa-button-border-dark {
	border: 1px solid $black;
}

/* Bare */
.fa-button-bare {
	align-items: center;
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	padding: 0;
}
