/* FA Button */
// Button component.

.fa-button,
.fa-button-brand {
	align-items: center;
	background: $blue-sf;
	color: $white;
	border: 0;
	border-radius: 0.25rem;
	cursor: pointer;
	display: inline-flex;
	font-family: $font-primary;
	font-size: 0.75rem;
	min-height: 2rem;
	justify-content: center;
	padding: 0.25rem 1.25rem;
	position: relative;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background: $blue-sf-dark;
		outline: none;
	}

	&:focus {
		box-shadow: 0 0 3px darken($blue-sf, 5%);
	}

	&:disabled {
		background: $gray;
		pointer-events: none;
	}

	.fa-invalid &:active,
	.fa-invalid &:focus,
	.fa-invalid &:hover {
		background: $red-dark;
	}

	.fa-disabled &:active,
	.fa-disabled &:focus,
	.fa-disabled &:hover {
		background: $gray-darker;
	}
}

.fa-button-lg {
	padding: 0.5rem 1.25rem;
}

/* Group */
.fa-button-group {
	position: relative;
}

.fa-button-group-secondary {

	.fa-btn {
		border-radius: 0;
		margin-right: -1px;
	}

	.fa-btn:first-child {
		border-top-left-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}

	.fa-btn:last-child {
		border-top-right-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
	}
}

/* Colours */
.fa-button-light {
	background: $white;
	color: $blue-sf;
}

/* Transparent */
.fa-button-transparent {
	background: transparent;

	&.secondary {
		border: 1px solid $gray;
		color: $blue-sf;
		font-size: 0.8125rem;

		&:hover,
		&:active,
		&:focus {
			background: $gray-light;
		}

		svg {
			fill: $blue-sf;
		}
	}

	svg {
		fill: $white;
	}

	&:disabled {
		background: transparent;
		border: 1px solid $gray;
		color: $gray;

		svg {
			fill: $gray;
		}
	}
}

/* Border */
.fa-button-border-light {
	border: 1px solid $white;
}

.fa-button-border-dark {
	border: 1px solid $black;
}

/* Bare */
.fa-button-bare {
	align-items: center;
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	padding: 0;
}

/* Neutral */
.fa-button-neutral {
	align-items: center;
	border-radius: 0.25rem;
	cursor: pointer;
	display: inline-flex;
	font-family: $font-primary;
	font-size: 0.75rem;
	min-height: 2rem;
	justify-content: center;
	padding: 0.25rem 1.25rem;
	position: relative;
	text-decoration: none;
	background: $white;
	border: 1px solid $gray;
	color: $blue-sf-light;

	&:hover {
		background: $gray-blue;
	}

	&:focus {
		background: $gray-blue;
		box-shadow: 0 0 3px $blue-sf;
		outline: 0;
		z-index: 1;
	}

	&:active {
		border: 1px solid $blue-sf;
	}

	svg {
		fill: $blue-sf;
	}
}
