.card {
	padding: 0.75rem;
	margin-bottom: 1rem;
	@include sbg(--card-bg);
	@include css4 {
		box-shadow: 0 1px 2px 0 cvar(--shadow-opaque);
	}

	&.basket-details-card {
		border-bottom-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
		width: 100%;

		.basket-details-card__row {
			display: flex;
			width: 100%;

			.row__element {
				position: relative;
				padding: 0.5rem;

				.element__label {
					display: flex;
					align-items: center;

					.label__title {
						display: inline-block;
						margin: 0 0.25rem 0 0;
						font-size: 0.75rem;
						max-width: 100%;
						@include overflow-ellipsis;
						@include sc(--font-c-alt);
					}
				}

				.element__field {
					display: flex;
					min-height: 2rem;
					width: 100%;
					overflow: hidden;

					.react-datepicker-wrapper {
						width: 100%;

						.react-datepicker__input-container {
							width: 100%;

							input {
								width: 100%;
							}
						}
					}

					> input {
						width: 100%;
						padding: 0;
					}

					> textarea {
						min-width: 100%;
						max-width: 100%;
						min-height: 2rem;
						height: 2rem;
						overflow: auto;
						padding: 0.25rem 0 0;
					}

					.fa-input-border {
						border: 0;
						font-size: 0.875rem;
						outline: 0;
						min-height: 2rem;
						max-width: 100%;
						@include overflow-ellipsis;
						@include sbg(--transparent);
						@include css4 {
							border-top: 1px solid cvar(--transparent);
							border-bottom: 1px solid cvar(--main-bg);
						}

						&:focus {
							@include css4 {
								border-bottom: 1px solid cvar(--input-hover-br);
							}
						}
					}

					.input-group {
						flex: 1;
						display: flex;


						.fa-lookup {
							flex: 1;
							cursor: pointer;
							@include css4 {
								border-bottom: 1px solid cvar(--main-br);
							}

							&:focus,
							&:focus + .fa-lookup-icon {
								@include css4 {
									border-bottom: 1px solid cvar(--input-hover-br);
								}
							}

							&:disabled {
								cursor: default;
							}
						}

						.fa-lookup-icon {
							display: flex;
							align-items: center;
							background: none;
							border: none;
							cursor: pointer;
							@include css4 {
								border-bottom: 1px solid cvar(--main-br);
							}

							&.forward {
								padding: 0px 5px;
							}

							svg {
								@include css4 {
									fill: cvar(--card-icon-bg);
								}
							}

							&:focus {
								outline: none;
								border: none;
								box-shadow: none;
							}
						}
					}
				}

				.form-edit-icon {
					display: none;
				}

				&.editable {

					.fa-input-border {
						@include css4 {
							border-bottom: 1px solid cvar(--main-br);
						}
					}

					&:hover, &:focus-within {

						.form-edit-icon {
							display: inline-block;
						}

						.element-title {
							max-width: calc(100% - 1rem);
							margin-right: 0.25rem;
						}
					}
				}
			}
		}
	}

	&.approval-card {
		padding: 0;
		border-radius: 0.25rem;

		.approval-card__inner {
			border-radius: 0.25rem;

			.approval-card__header {
				border-radius: 0.25rem;
				display: flex;
				align-items: center;
				padding: 0.75rem 1.25rem;
				@include sbg(--card-bg);

				.header__title {
					font-size: 1.125rem;
					flex: 1;
					display: flex;
					align-items: center;
					cursor: pointer;
					@include sc(--font-c);

					svg {
						margin-right: 0.75rem;
					}

					+ div {
						display: flex;
						align-content: center;
					}
				}
			}

			.approval-card__body {
				padding: 1rem 1.25rem 1.25rem;
				@include sbg(--table-header-bg);
				@include css4 {
					border-top: 1px solid cvar(--main-br);
				}

				.body__title {
					font-size: 0.75rem;
					@include sc(--font-c-alt);
				}

				.fa-textarea {
					width: 100%;
					max-width: 100%;
					min-width: 100%;
				}
			}

			.approval-table-list-container {
				@include css4 {
					border-top: 1px solid cvar(--table-br);
				}
			}
		}
	}

	&.products-card {
		border-radius: 0.25rem;
		padding: 0;
		margin-bottom: 0;
		box-shadow: none;
		@include sbg(--transparent);

		.products-card__inner {

			.products-card__header {
				border-radius: 0.25rem 0.25rem 0 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 0.75rem 1.25rem;
				@include sbg(--card-bg);
				@include css4 {
					box-shadow: 0 1px 2px 0 cvar(--shadow-opaque);
				}

				.products__title {
					font-size: 1.125rem;
					flex: 1;
					min-width: 50%;
					@include sc(--font-c);
				}

				.header__inputs {
					display: flex;
					align-items: center;
					flex: 1;
				}
			}

			.product-card__container {
				font-size: 0.875rem;
				width: 100%;
				margin-bottom: 1px;
				box-sizing: border-box;
				transition: margin 0.25s;
				@include sbg(--card-bg);
				@include css4 {
					box-shadow: 0 1px 2px 0 cvar(--shadow-opaque);
				}

				&.product-card__container--header {
					border: 0;
					display: flex;
					@include sbg(--table-header-bg);

					.container__header {
						padding: 0.5rem 1.5rem;
						width: 100%;
						display: flex;
						align-items: center;
						@include css4 {
							border-top: 1px solid cvar(--main-br);
						}

						.list-cell {
							cursor: default;
							font-size: 0.8125rem;
							flex: 1;
							text-align: left;
							@include overflow-ellipsis;
							@include sc(--font-c-alt);

							&.volume {
								text-align: right;
								margin-left: 0.75rem;
							}
						}
					}
				}

				.container__header {
					padding: 0.5rem 1.5rem;
					width: 100%;
					display: flex;
					align-items: center;

					.container__checkbox {
						display: inline-block;
						width: 40px;
					}

					.container__fields {
						display: inline-flex;
						width: calc(100% - 40px);

						.fields__item {
							flex: 1;
							cursor: pointer;
							font-size: 0.85rem;
							max-width: 100%;
							overflow: hidden;
							align-self: center;
							@include overflow-ellipsis;

							&.fields__item--title {
								font-size: 1.125rem;
								@include sc(--font-c);
							}

							&.volume-fields {
								cursor: text;
								margin-left: 0.75rem;

								.negotiate-input-wrapper {

									.negotiate-input {
										padding: 0.5rem;
										border-bottom: 1px solid transparent;

										&:hover {
											border-bottom: 1px solid cvar(--main-br);
										}
									}

									.negotiate-icon {
										visibility: hidden;
										right: 0;
										left: 0.5rem;
									}

									&.focused .negotiate-icon, &:hover .negotiate-icon {
										visibility: visible;
									}
								}

							}
						}

						.master-redirect-icon {
						    visibility: hidden;
						    display: flex;
						    opacity: 0;
						    padding-left: 15px;
							svg {
								fill: var(--main-c);
							}
						}
						.master-name-field {
							display: flex;
						    align-items: center;
						    /*justify-content: space-between;*/
						}

						.master-name-field:hover{
							color: #0070d2!important;
						}

						.master-name-field:hover .master-redirect-icon {
							 visibility: visible;
							 opacity: 1;
							 transition: opacity 0.5s;
						}
					}
				}

				&.product-open {
					margin: 0.5rem 0;
					padding: 0;
					@include css4 {
						box-shadow: 0 1px 2px 0 cvar(--shadow-opaque);
					}

					.container__header .container__fields .fields__item--title {
						@include sc(--main-c);
					}
				}

				&.invalid-product .container__header .container__fields .fields__item--title {
					@include sc(--button-bg-invalid);
				}

				.fa-title {
					flex: 1;
					text-align: right;

					&:first-child {
						text-align: left;
					}
				}

				&:not(.product-open):hover {
					@include sbg(--table-row-bg-hover);
				}
			}
		}
	}

	.card__bottom {
		width: 100%;
		height: 0.75rem;
		/*height: 600px;*/
		border-radius: 0 0 0.25rem 0.25rem;
		@include sbg(--card-bg);
		@include css4 {
			box-shadow: 0 1px 2px 0 cvar(--shadow-opaque);
		}
	}
}








//// NOT SURE WHAT EVERYTHING BELOW HERE IS FOR

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
  to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
  }
}

.rotating {
	-webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
	animation: rotating 1s linear infinite;
}

/* FA Discount */
// CSS Discount

.fa-discount {
	align-items: flex-end;
	display: flex;
}

/* Item */
.fa-discount-item {
	&:not(:last-child) {
		padding-right: 1rem;
	}

	&:nth-child(2) {
		flex: 100px;
	}

	&:last-child {
		text-align: right;
	}
}





/* FA Editor */
// CSS FA Editor

.editor-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: #ecebea;
}

.sidebar {
	flex: 1;
	text-align: center;
	padding: 0px 10px;
}

.add-product-box {
	padding: 54px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #dddddd;
}

.box-header-1 {
	font-size: 20px;
	color: #5e5d60;
}

.box-header-2 {
	font-size: 13px;
	color: #747474;
}

.box-button-container {
	padding: 13px;
}






.expandable-article {
	display: flex;
	align-items: center;
}

.expandable-text {
	display: inline-block;
	width: 100%;
	@include overflow-ellipsis;
}

.expandable-article.expanded {
	display: block;
	align-items: unset;
}
.expandable-article.expanded .expandable-text{
	white-space: pre-wrap;
}

.expandable-more {
 color: #006ccc;
}

.expandable-more:hover {
 text-decoration: underline;
 cursor: pointer;
}
