/* FA Chip */
// Chip component.

.fa-chip {
	background: $gray;
	border-radius: 1.5rem;
	color: $white;
	font-size: 0.6rem;
	letter-spacing: 2px;
	padding: 0.25rem 0.75rem;
	text-transform: uppercase;
}

/* Dark */
.fa-chip-dark {
	background: $gray-dark;
}
