.fa-chip {
	border-radius: 0.75rem;
	font-size: 0.6125rem;
	letter-spacing: 0.125rem;
	padding: 0.25rem 0.5rem;
	line-height: 1;
	text-transform: uppercase;

	&.fa-chip--draft {
		@include sbg(--chip-draft-bg);
		@include sc(--chip-draft-c);
	}

	&.fa-chip--active {
		@include sbg(--chip-active-bg);
		@include sc(--chip-active-c);
	}

	&.fa-chip--master {
		@include sbg(--chip-master-bg);
		@include sc(--chip-active-c);
	}
}