
	.commercial-product-body {
		.commercial-product-description {
			font-size: 11px;
			color: #5e5d60;
			padding: 0 1.5rem 0.75rem 1.5rem;
		}
		.fa-tab-group {
			padding: 0 1.5rem;
			margin: 0;
		}
		.table-container {
			.table-list-header {
				background: #FAFAF9;
				border-top: 1px solid #dddbda;
				.list-cell {
					font-size: 0.75rem;
					color: rgba(0,0,0,0.5);
				}
			}
			.list-cell {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				.icon-priority {
					margin-right: 0.25rem;
					vertical-align: middle;
				}
			}
			.list-row:last-child {
				border: 0;
			}
		}
		.table-list .list-row .list-cell {
			padding: 0.5rem 0.75rem;
			&:first-child {
				padding-left: 1.5rem;
			}
			&:last-child {
				padding-right: 1.5rem;
			}
		}
	}

.commercial-product-skeleton {
	width: 100%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 8px;
	background-color: #fff;
	border-radius: 4px;
	box-sizing: border-box;
	height: 56px;
}
