/* FA Footer */
// Footer component.

.fa-footer {
	background: $white;
	bottom: 0;
	color: white;
	left: 0;
  position: sticky;
  padding: 1rem;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
}
