// Fa list
//
// Fa list component.

.header {
	background: #fff;
	border-bottom: 2px solid $gray-light-5;
	padding: $spacer * 5 0;
	margin-bottom: 20px;
}

// Title
//

.header-col-title {
	color: #777;
}

// Search
//

.header-search {
	display: flex;
}

// Secondary

.header-secondary {
	background: $blue-sf;
	color: $white;
	padding: $spacer * 4 0;
}

.header-secondary-body {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-secondary-body-col {
	align-items: center;
	display: flex;
}
