/* Fa Header */
// Header component.

.fa-main-header {
	background: #fff;
	border-bottom: 2px solid $gray-light-5;
	padding: 1.25rem 0;
	margin-bottom: 1.25rem;
}

/* Container */
.fa-main-header-container {
	display: flex;
	flex-wrap: wrap;
}

/* Item */

.fa-main-header-item {
	flex: 1;
	padding-left: 1.5rem;

	&:first-child,
	&:last-child {
		padding: 0;
	}

	&:last-child {
		flex: auto;
		width: 100%;
	}
}

/* Group */
.fa-main-header-group {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	.cloudsense-logo {
		margin-bottom: .5rem;
		margin-right: 1rem;
	}
}

/* Title */
.fa-main-header .fa-main-header-title {
	color: #777;
	font-size: 0.8rem;
	margin-bottom: .5rem;
}

/* Search */
.fa-main-header-search {
	display: flex;
	flex-wrap: wrap;
}

/* Secondary */
.fa-header-secondary {
	background: $blue-sf;
	color: $white;
	padding: 1rem 0;
}

.fa-header-secondary-body {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.fa-header-secondary-body-sub {
	font-size: 0.8rem;
	opacity: 0.5;
}

.fa-header-secondary-body-title {
	font-size: 1.2rem;
}

.fa-header-secondary-body-col {
	align-items: center;
	display: flex;

	&-left {
		padding-left: 1.5rem;
	}
}

.fa-header-secondary-prev {
	bottom: 50%;
	position: absolute;
	left: -1.5rem;
	transform: translateY(50%);
}
