/* Fa Header */
// Header component.

.fa-main-header {
	background: $white;
	padding: 1rem 0;
	position: sticky;
	top: 0;
	z-index: $z-index-main-header;
}

/* Container */
.fa-main-header-container {
	display: flex;
	flex-wrap: wrap;
}

/* Item */
.fa-main-header-item {
	align-self: center;
	display: flex;
	flex: 1;
	padding-left: 1.5rem;

	&:first-child,
	&:last-child {
		padding: 0;
	}

	&:last-child {
		justify-content: flex-end;
	}
}

/* Title */
.fa-main-header .fa-main-header-title,
.fa-main-header .fa-main-header-sub-title {
	display: block;
}

/* Title */
.fa-main-header .fa-main-header-item:first-of-type > div {
	display: flex;
	flex-direction: column;
}

.fa-main-header .fa-main-header-title {
	color: $black;
	font-size: 1.2rem;
	line-height: 1.1;
}

.fa-main-header .fa-main-header-sub-title {
	color: $gray-dark;
	font-size: 0.8125rem;
	font-weight: $font-weight-normal;
	line-height: 1;
}

/* Search */
.fa-main-header-search {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}

/* Secondary */
.fa-header-secondary {
	position: sticky;
	top: 0;
	background: $blue-sf;
	color: $white;
	padding: 0.75rem 0;
	z-index: $z-index-header-secondary;
}

.fa-header-secondary-body {
	align-items: center;
	display: flex;
	position: relative;
}

.fa-header-secondary-body-sub {
	font-size: 0.8rem;
	opacity: 0.4;
}

.fa-header-secondary-body-title {
	font-size: 1.2rem;
	line-height: 1.2;
}

.fa-header-secondary-body-col {
	align-items: center;
	display: flex;

	&-left {
		padding-left: 1.5rem;
		margin-right: auto;
	}
}

.fa-header-secondary-prev:hover {
	cursor: pointer;
}
