/* FA Icon */
// Icon component.

.fa-icon {
	cursor: pointer;
}

/* Group */
.fa-icon-group {
	align-items: center;
	bottom: 50%;
	display: inline-flex;
	left: 10px;
	margin-right: 0.5rem;
	position: absolute;
	transform: translateY(50%);
}

/* Search */
.fa-input-search {
	> .icon-search {
		bottom: 50%;
		left: 10px;
		pointer-events: none;
		position: absolute;
		transform: translateY(50%);
	}
}

/* Checkbox */
.fa-checkbox-icon {
	bottom: 50%;
	position: absolute;
	right: 50%;
	transform: translate(50%, 50%);
}
