/* FA Input */
// Input component.

.fa-input {
	border: 1px solid $gray;
	border-radius: 0.25rem;
	box-sizing: border-box;
	display: inline-block;
	font-family: $font-primary;
	font-size: 0.75rem;
	outline: 0;
	padding: 0.5rem 1rem;
	width: 100%;

	&:active,
	&:focus {
		background-color: $white;
		border-color: $blue-sf;
		box-shadow: 0 0 3px $blue-sf;
		outline: 0;
	}
}

.fa-input-border {
	background: none;
	border: 0;
	border-bottom: 1px solid transparent;
	font-size: 0.875rem;
	outline: 0;
	padding-bottom: 0.5rem;

	&:focus {
		border-bottom: 1px solid $blue-sf;
	}
}

.fa-input-lg {
	padding: 0.5rem 0.5rem 0.5rem 2rem;
}

/* Search */
.fa-input-search {
	flex: 2;
	position: relative;
	margin-right: 1rem;
}

.fa-input-search-border-bottom .fa-input {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $gray;
	&:focus {
		border-radius: 0.25rem;
	}
}

/* Checkbox */
.fa-checkbox {
	border-radius: 0.125rem;
	border: 1px solid $gray;
	cursor: pointer;
	display: inline-flex;
	height: 1rem;
	position: relative;
	width: 1rem;
}

.fa-checkbox.checked {
	background: $gray;
}

/* Textarea */
.fa-textarea {
	border: 1px solid $gray;
	border-radius: 0.25rem;
	font-size: 0.8125rem;
	padding: 0.5rem 0.75rem;

	&:active,
	&:focus {
		outline: 0;
		border-color: $blue-sf-light;
		background-color: $white;
		box-shadow: 0 0 3px $blue-sf;
	}
}
