/* MAIN HEADER */
.fa-main-header {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	padding: 1rem;
	z-index: $z-index-main-header;
	@include sbg(--main-header-bg);
	@include css4 {
		box-shadow: 0 1px 2px 0 cvar(--shadow-medium);
	}

	.fa-main-header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1280px;

		.fa-main-header__item {
			display: flex;
			flex: 1;

			&:first-child {

				.fa-app-icon {
					width: 2rem;
					height: 2rem;
					margin-right: 1rem;
					border-radius: 0.25rem;
					@include sbg(--main-header-icon);
				}

				.fa-main-header__title-wrapper {
					display: flex;
					flex-direction: column;

					.fa-main-header__subtitle {
						font-size: 0.8125rem;
						font-weight: $font-weight-normal;
						line-height: 1;
						@include sc(--main-header-subtitle-c);
					}

					.fa-main-header__title {
						font-size: 1.25rem;
						line-height: 1;
						@include sc(--main-header-title-c);
					}
				}
			}

			.fa-dropdown-group {
				span {
					 margin-right: 0.25rem;
				}
			}

			&:last-child {
				.fa-main-header__search {
					display: flex;
					flex: 1;

					> button, > .fa-dropdown-group {
						margin-left: 0.5rem;
					}
				}
			}
		}
	}
}

/* SECONDARY HEADER */
.fa-secondary-header {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	padding: 1rem;
	z-index: $z-index-header-secondary;
	@include sbg(--secondary-header-bg-draft);
	@include sc(--secondary-header-c);
	@include css4 {
		box-shadow: 0 2px 4px 0 cvar(--shadow-dark);
	}

	.fa-secondary-header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1280px;

		.fa-secondary-header__prev {
			display: flex;
			align-items: center;
			margin-right: 1rem;
			cursor: pointer;
		}

		.fa-secondary-header__item {
			display: flex;
			align-items: center;
			flex: 1;

			.fa-secondary-header__title-wrapper {
				margin-right: 1rem;

				.fa-secondary-header__subtitle {
					font-size: 0.8125rem;
					opacity: 0.4;
					line-height: 1;
				}

				.fa-secondary-header__title {
					font-size: 1.25rem;
					line-height: 1;
				}
			}

			&.fa-secondary-header__item--right {
				flex: 0;

				div button span {
					margin-right: 0.25rem;
				}

				> button {
					margin-left: 0.5rem;

					span {
						margin-right: 0.25rem;
					}
				}
			}
		}
	}

	&.error {

		&.fa-invalid {
			@include sbg(--secondary-header-bg-invalid);

			.fa-button--transparent {
				@include sbg(--button-bg-invalid);
				@include sc(--button-c-invalid);

				&:active,
				&:focus,
				&:hover {
					@include sbg(--button-bg-invalid-hover);
					@include sc(--button-c-invalid-hover);
				}
			}

			.fa-chip {
				@include sc(--button-bg-invalid);
			}
		}

		&.fa-disabled {
			@include sbg(--secondary-header-bg-inactive);

			.fa-button--transparent {
				@include sbg(--button-bg-inactive);
				@include sc(--button-c-inactive);

				&:active,
				&:focus,
				&:hover {
					@include sbg(--button-bg-inactive-hover);
				}
			}

			.fa-chip {
				@include sc(--button-bg-inactive);
			}
		}
	}

	.fa-chip {
		@include sbg(--chip-header-bg);
		@include sc(--main-c);
	}
}
