.fa-app {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;

	.fa-secondary-header + .fa-main-body {
		padding: 0 1rem 1rem;
	}

	.fa-main-body {
		min-height: 60vh;
		flex: 1;
		margin: 0 auto;
		width: 100%;
		padding: 1rem;
		overflow-y: auto;

		.fa-main-body__inner {
			flex: 1;
			position: relative;
			margin: 0 auto;
			max-width: 1280px;
			width: 100%;
		}
	}
}