.fa-pagination-container {
	display: flex;
	justify-content: flex-end;
	padding: 1rem 1.25rem;

	.fa-pagination {
		display: flex;
		padding-right: 1rem;
		border-radius: 0.25rem;
		margin: 0;

		li  {

			&.next.disabled svg,
			&.previous.disabled svg {
				fill: #b0b0b0 !important;
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 2rem;
				height: 2rem;
				padding: 0;
				font-size: 0.75rem;
				text-decoration: none;
				cursor: pointer;
				@include sbg(--pagination-bg);
				@include sc(--pagination-c);
				@include css4 {
					border: 1px solid cvar(--main-br);
				}
			}

			&:first-child a {
				border-top-left-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}

			&:last-child a {
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}

			&:nth-of-type(n+2) a {
				border-left: none;
			}

			&.page.active a {
				@include sbg(--pagination-c);
				@include sc(--pagination-bg);
			}

			& a:hover {
				@include sbg(--pagination-hover-bg);
			}

			& a:focus {
				outline: none;
				position: relative;
				z-index: $z-index-pagination-focus;
				@include css4 {
					border: 1px solid cvar(--pagination-c);
					box-shadow: 0 0 3px cvar(--pagination-c);
				}
			}

			& a:active {
				@include css4 {
					border: 1px solid cvar(--main-br);
				}
			}

			&.disabled a {
				cursor: default;
				box-shadow: none;
				@include sbg(--pagination-bg);
				@include css4 {
					border: 1px solid cvar(--main-br);
				}
			}

			&:nth-of-type(n+2).disabled a {
				border-left: none;
			}
		}
	}

	select {
		min-width: 5rem;
		height: 2rem;
		border-radius: 0.25rem;
		@include sbg(--pagination-bg);
		@include css4 {
			border: 1px solid cvar(--main-br);
		}

		&:hover {
			@include sbg(--pagination-hover-bg);
		}

		&:focus {
			outline: none;
			position: relative;
			z-index: $z-index-pagination-focus;
			@include css4 {
				border: 1px solid cvar(--pagination-c);
				box-shadow: 0 0 3px cvar(--pagination-c);
			}
		}
	}
}

.commercial-product-body {

	.fa-pagination-container {
		@include css4 {
			border-top: 1px solid cvar(--main-br);
		}
	}
}