/* FA Panel */
// Panel component.

.fa-panel {
	position: relative;

	&:last-child .fa-panel-item {
		margin-bottom: 0;
	}
}

/* Item */
.fa-panel-item {
	align-items: center;
	background: $white;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	box-shadow: 0 0 4px transparentize($black, 0.8);
	color: #0070d2;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.25rem;
	padding: 0.75rem 1.5rem 0.75rem 2.5rem;
	position: relative;
	text-decoration: none;
	transition: 0.25s;
	width: 100%;

	a {
		color: $blue-sf;
		text-decoration: none;
	}

	&:hover {
		border: 1px solid $blue-sf;
	}

	@include mq(sm, max) {
		align-items: flex-start;
		flex-direction: column-reverse;
	}
}

/* Body */
.fa-panel-body {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-between;

	@include mq(sm, max) {
		margin-top: 1rem;
		width: 100%;
	}

	> .icon {
		margin-right: 1rem;
	}
}
