@mixin skeletonAnimation {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background: // IE11 Support
		linear-gradient(
			90deg,
			transparent 0%,
			rgba(#f3f2f2, 0.6) 30%,
			rgba(#f3f2f2, 1) 40%,
			transparent 100%);
	background:
		linear-gradient(
			90deg,
			cvar(--transparent) 0%,
			cvar(--skeleton-gradient-bg) 30%,
			cvar(--skeleton-gradient-dark-bg) 40%,
			cvar(--transparent) 100%);
	animation: shimmer 1s infinite;
	content: '';
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

.skeleton-shape {
	position: relative;
	overflow: hidden;
	@include sbg(--skeleton-bg);

	&::after {
		@include skeletonAnimation;
	}
}

@mixin header {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	height: 65px;
	@include sbg(--skeleton-bg-alt);
}

@mixin centered {
	max-width: 1280px;
	margin: 0 auto;
}

@mixin skeletonAnimation {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background: // IE11 Support
		linear-gradient(
			90deg,
			transparent 0%,
			rgba(#f3f2f2, 0.6) 30%,
			rgba(#f3f2f2, 1) 40%,
			transparent 100%);
	background:
		linear-gradient(
			90deg,
			cvar(--transparent) 0%,
			cvar(--skeleton-gradient-bg) 30%,
			cvar(--skeleton-gradient-dark-bg) 40%,
			cvar(--transparent) 100%);
	animation: shimmer 1.5s infinite;
	content: '';
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

.skeleton-container {
	width: 100%;
	display: inline-block;

	&.skeleton-ed {

		.skeleton-header {
			@include header;

			.skeleton-row {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@include centered;
			}

			.skeleton-left,
			.skeleton-right {
				display: flex;
				flex: 1;
				height: 33px;
			}

			.skeleton-left {
				flex-direction: column;
				justify-content: space-between;
			}

			.skeleton-right {
				justify-content: flex-end;

				.skeleton-shape {
					margin-left: 0.5rem;
				}
			}
		}

		.skeleton-body {
			width: 100%;
			padding: 0.25rem 1rem 1rem;

			.skeleton-ed-fields {
				height: 200px;
				@include centered;
				@include sbg(--skeleton-bg-alt);
			}
		}

		.skeleton-table-item {

			.skeleton-left,
			.skeleton-right {
				display: flex;
				flex: 1;
			}

			.skeleton-right {
				justify-content: flex-end;
			}
		}
	}

	&.skeleton-fa {

		.skeleton-header {
			@include header;

			.skeleton-row {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@include centered;
			}
		}

		.skeleton-body {
			width: 100%;
			padding: 1rem;

			.skeleton-table {
				position: relative;
				overflow: hidden;
				@include centered;

				.skeleton-table-item {
					display: flex;
					flex-direction: row;
					padding: 1rem;
					margin-bottom: 0.5rem;
					@include sbg(--skeleton-bg-alt);

					.skeleton-left,
					.skeleton-right {
						display: flex;
						flex: 1;
					}

					.skeleton-left .skeleton-shape {
						margin-right: 0.5rem;
					}

					.skeleton-right {
						justify-content: flex-end;
					}
				}
			}
		}
	}
}

.skeleton-body--alt {
	width: 100%;
	padding: 0 1rem 1rem;

	.skeleton-landing-cp {
		@include centered;

		.skeleton-cp {

			.skeleton-header {
				padding: 1rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				@include sbg(--skeleton-bg-alt);
			}

			.skeleton-table-item {
				display: flex;
				flex-direction: row;
				position: relative;
				overflow: hidden;
				justify-content: space-between;
				padding: 1rem;
				@include sbg(--skeleton-bg-alt);

				.skeleton-right {
					display: flex;
				}
			}
		}
	}
}