.fa-tab-group {
	padding: 0 0.75rem;

	.fa-tabs-primary {
		display: flex;

		.fa-tab {
			display: flex;
			align-items: center;
			height: 2.5rem;
			font-size: 0.8125rem;
			padding: 0 0.75rem;
			transition: 0.25s;
			cursor: pointer;
			@include sbg(--tab-bg);
			@include sc(--font-c-alt);
			@include css4 {
				border-bottom: 2px solid cvar(--transparent);
			}

			&:hover {
				@include css4 {
					border-bottom: 2px solid cvar(--tab-br);
				}
			}

			&.active {
				@include sc(--font-c);
				@include css4 {
					border-bottom: 3px solid cvar(--tab-br);
				}
			}

			&.disabled {
				display: none;
			}
		}
	}

	.fa-tabs-secondary {
		display: flex;
		padding: 0 0.75rem;
		@include css4 {
			border-bottom: 2px solid cvar(--main-br);
		}

		.fa-tabs-secondary__item {
			display: flex;
			align-items: center;
			height: 2.5rem;
			font-size: 0.8125rem;
			padding: 0 0.75rem;
			transition: 0.25s;
			cursor: pointer;
			@include sbg(--tab-bg);
			@include sc(--font-c-alt);
			@include css4 {
				border-bottom: 2px solid cvar(--transparent);
			}

			&:hover {
				@include css4 {
					border-bottom: 2px solid cvar(--tab-br);
				}
			}

			&-addons,
			&-charges,
			&-brand {
				@include sc(--font-c);
				@include css4 {
					border-bottom: 3px solid cvar(--tab-br);
				}
			}
		}
	}
}