.fa-tab-group {
	border-radius: 0.25rem 0.25rem 0 0;
	padding: 0 0.75rem;
	@include sbg(--tab-bg);
	@include css4 {
		border-bottom: 1px solid cvar(--table-br);
	}

	.fa-tabs-primary {
		display: flex;

		.fa-tab {
			display: flex;
			align-items: center;
			height: 2.5rem;
			font-size: 0.8125rem;
			padding: 0 0.75rem;
			transition: 0.25s;
			cursor: pointer;
			@include sbg(--tab-bg);
			@include sc(--font-c-alt);
			@include css4 {
				border-bottom: 2px solid cvar(--transparent);
			}

			&:hover {
				@include css4 {
					border-bottom: 2px solid cvar(--tab-br);
				}
			}

			&.active {
				@include sc(--font-c);
				@include css4 {
					border-bottom: 3px solid cvar(--tab-br);
				}
			}

			&.disabled {
				display: none;
			}

			a {
				text-decoration: none;
			}
		}
	}

	.fa-tabs-secondary {
		display: flex;
		padding: 0 0.75rem;

		.fa-tabs-secondary__item {
			display: flex;
			align-items: center;
			height: 2.5rem;
			font-size: 0.8125rem;
			padding: 0 0.75rem;
			transition: 0.25s;
			cursor: pointer;
			@include sbg(--tab-bg);
			@include sc(--font-c-alt);
			@include css4 {
				border-bottom: 2px solid cvar(--transparent);
			}

			&:hover {
				@include css4 {
					border-bottom: 2px solid cvar(--tab-br);
				}
			}

			&-addons,
			&-charges,
			&-brand {
				@include sc(--font-c);
				@include css4 {
					border-bottom: 3px solid cvar(--tab-br);
				}
			}
		}
	}
}

.fa-tab-group-secondary {
	@include sbg(--tab-bg);
	@include css4 {
		border-bottom: 2px solid cvar(--main-br);
	}
}

.fa-tab-content > .table-container .table-list-header {
	border-top: none;
}

.fa-tab-content > .card {
	border-radius: 0 0 0.25rem 0.25rem;

	.products-card__inner .products-card__header {
		border-radius: 0;
	}
}

.fa-main-body__inner > .fa-tab-group-wrapper > .fa-tab-group {
	@include css4 {
		box-shadow: 0 1px 2px 0 cvar(--shadow-opaque);
	}
}
