@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.toaster-container {
	position: fixed;
	right: 0.3125rem;
	top: 0.3125rem;
	z-index: $z-index-toast;
	width: 360px;
	@include sbg(--transparent);

	.toast {
		min-height: 3rem;
		width: 100%;
		z-index: $z-index-toast;
		border-radius: 0.25rem;
		margin-bottom: 0.3125rem;
		padding: 0.9375rem;
		font-size: 0.8125rem;
		animation: 0.3s ease-out 0s 1 slideInFromRight;
		@include sc(--toast-c);

		&:hover {
			cursor: pointer;
			@include css4 {
				box-shadow: 0 0 6px cvar(--shadow-medium);
			}
		}

		> span {
			display: block;
		}

		.toast__title {
			font-size: 0.875rem;
			font-weight: $font-weight-bold;
		}

		&.success {
			@include sbg(--toast-success-bg);
		}

		&.info {
			@include sbg(--toast-info-bg);
			@include css4 {
				border: 1px solid cvar(--toast-info-br);
			}
		}

		&.warning {
			@include sbg(--toast-warning-bg);
			@include sc(--toast-warning-c);
		}

		&.error {
			@include sbg(--toast-error-bg);
		}
	}
}