.ut-popup {
    position: absolute;
    /*min-height: 21px;*/
    right: 20px;
    background: white;
    min-width: 200px;
    z-index: $z-index-ut-popup;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    &.invisible {
        visibility: hidden;
    }

    .ut-cube {
        position: absolute;
        z-index: $z-index-ut-popup-arrow;
        background: white;
        width: 20px;
        height: 20px;
        transform-origin: 50% 50%;
    }

    &.below {
        .ut-cube {
            top: -7px;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            transform: rotate(-135deg);
            /*transform: rotate(-135deg) translateY(14px);*/
        }
    }

    &.above {
        .ut-cube {
            box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
            bottom: -10px;
            transform: rotate(45deg);
            /*transform: rotate(45deg) translateY(14px);*/
        }
    }
}

.ut-popup-content {
    position: relative;
    width: 100%;

    .ut-popup-user-content {
        z-index: $z-index-ut-user-content;
        position: relative;
        display: inline-block;
        width: 100%;
    }

}

.ut-table {
    text-align: left;
    padding: 7px 24px 0px 24px;

    .table-link {
        cursor: pointer;
        color: var(--link-c);

        &:hover {
            text-decoration: underline;
        }
    }

    th {

        /*font-family: SalesforceSans;*/
        font-size: 12px;
        font-weight: 400;
        color: var(--table-list-header-c);
        border-bottom: 1px solid var(--table-border);
    }

    td {

        /*font-family: SalesforceSans;*/
        font-size: 12px;

        line-height: 1.67;

        color: var(--table-c);
    }

    td,
    th {
        padding: 7px 10px 7px 0px;
    }

    tbody {
        tr:not(:last-of-type) td {
            border-bottom: 1px solid var(--table-border);
        }
    }
}