$z-index-dropdown-checkbox: 10;
$z-index-date-picker-arrow: -10;
$z-index-negotiate-icon: 2;
$z-index-search-wrapper: 2;

$z-index-ut-popup: 2;
$z-index-ut-popup-arrow: 3;
$z-index-ut-user-content: 4;


$z-index-date-picker: 10;
$z-index-dropdown-button: 20;
$z-index-dropdown: 30;
$z-index-button-focus: 40;
$z-index-pagination-focus: 40;
$z-index-fa-main-footer: 97;
$z-index-main-header: 98;
$z-index-header-secondary: 98;
$z-index-overlay: 99;
$z-index-date-picker-portal: 100;
$z-index-toast: 1001;
