/* Z-index */
// Z-index settings

$z-index-dropdown-checkbox: 10;
$z-index-dropdown-button: 20;
$z-index-dropdown: 30;
$z-index-button-focus: 40;
$z-index-fa-main-footer: 97;
$z-index-main-header: 98;
$z-index-header-secondary: 98;
