.addon-row {
/*border: 1px solid #F3F2F2;*/
}
.addon-row.selected-addon {
	background: #F3F2F2;
}
.addon-row td {
	
	padding: 16px;
}
.addon-row.selected-addon td:first-child {
	color: #0070D2;
}
.table-footer {
	padding: 14px 20px;
}