.commercial-product-container {
		font-size: 0.875rem;
		width: 100%;
		padding: 0px 20px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
		border: 1px solid transparent;
		margin-bottom: 1px;
		background-color: white;
		box-sizing: border-box;
		transition: margin 0.25s;

		&:hover {
			border: 1px solid #0070d2;
		}

		.list-cell {
			font-size: 0.8rem;
		}

        &.invalid-product {
            &:hover {
                border: 1px solid #d9665d;
            }
        }
}

.commercial-product-container-default {
	background: #fafaf9;
	border: 0;
	display: flex;

	.fa-title {
		flex: 1;
		text-align: right;

		&:first-child {
			text-align: left;
		}
	}

	&:hover {
		border: 0;
	}
}

.commercial-product-container-bare {
	padding: 0;

	> .commercial-product-header {
		background: #fafaf9;
		padding: 10px 20px;
	}
}

.commercial-product-header {
	align-items: center;
	width: 100%;
	display: flex;
	padding: 10px 0px;
}

.commercial-product-checkbox-container {
	display: inline-block;
	width: 40px;
}

.commercial-product-fields-container {
	display: inline-block;
	width: calc(100% - 40px);
}

.commercial-product-fields {
	align-items: center;
	display: flex;
}

.commercial-product-fields > span {
	flex: 1;
	cursor: pointer;
}

.commercial-product-fields > span.volume-fields {
	cursor: text;
}

.commercial-product-container.product-open {
	margin: 15px 0px;
	padding: 0;

	.commercial-product-header {
		padding: 0.5rem 1.25rem;
	}

	.commercial-product-description,
	.fa-tab-group {
		padding-left: 1.25rem;
	}
}

.commercial-product-container.product-open .commercial-product-header {
	border-bottom: 1px solid #dddbda;
}

.commercial-product-header .commercial-product-fields > span:first-child:not(.list-cell) {
	color: #0070d2;
	font-size: 1.2rem;
}

.invalid-product .commercial-product-header .commercial-product-fields > span:first-child:not(.list-cell) {
	color: #d9665d;
}

.commercial-product-header:hover + div .negotiation-button:not(:disabled) {
	-webkit-box-shadow: 0px 0px 10px 1px orange;
	-moz-box-shadow: 0px 0px 10px 1px orange;
	box-shadow: 0px 0px 10px 1px orange;
	border-color: orange;
	color: orange;
	transition: box-shadow 0.1s;
}

.commercial-product-description {
	width: 400px;
	font-size: 11px;
	color: #5e5d60;
	padding: 14px 0px;
}

.commercial-product-skeleton {
	width: 100%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 8px;
	background-color: white;
	border-radius: 4px;
	box-sizing: border-box;
	height: 56px;
}
