.table-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafaf9;
    border-bottom: 1px solid #dddbda;
    font-size: 11px;
    color: #5e5d60;
    text-transform: uppercase;
}

.table-list-header>.list-cell {
    padding: 9px 16px;
    flex: 1;
}

/*************************************************/
.rc-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    color: #706e6b;
    position: relative;
    padding: 0px 42px;
    box-sizing: border-box;
}

.rc-title>.title-upper {
    height: 21px;
    flex: 1;
    border-bottom: 1px solid #706e6b;
}

.rc-title>.title-lower {
    height: 21px;
    flex: 1;
    /*border-bottom: 1px solid #706e6b;*/
}

.rc-title>.title-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 8px;
    background: white;
}

/*************************************************/
.list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dddbda;
    font-size: 13px;
}

.list-row>.list-cell {
    padding: 16px;
    flex: 1;
}

.list-row.selected-row {
    background: #F3F2F2;
}

.list-row div.list-cell:first-child {
    /*cursor: pointer;*/
}

.list-row.selected-row div.list-cell:first-child {
    color: #0070D2;
}

/*************************************************/
.table-footer {
    padding: 14px 20px;
}