ul.tabs-nav.nav.navbar-nav.navbar-left {
  margin: 0px;
  list-style: none;
  border-bottom: 1px solid #dddbda;
}

li.tab {
  display: inline-block;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
}

li.tab.disabled {
  display: inline-block;
  padding: 10px 10px 10px 0px;
  cursor: default;
  /*text-decoration: line-through;*/
  color: #ccc;
}

a.tab-link.custom-link {
  background: #6161a7;
  color: white;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.tab.active {
	border-bottom: 1px solid #0070d2;
}
