input:focus, input:active {
    outline: none!important;
}



.addons-table {
    table-layout: fixed;
    width: 100%;
}

.addons-table thead th {
    text-align: left;
}


ul,
ol,
li {
    list-style: none !important;
    padding: 0;
}

.box {
    padding: 25px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}