html {
    background: inherit !important;
    font-size: 16px;
    font-family: Salesforce Sans, Arial, sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
}

ul li,
ol li {
    margin-left: 0px;
    padding-left: 0;
}

div {
    /*box-sizing: border-box;*/
}

/*BUTTONS*/
.slds-button {
    background-image: none !important;
    cursor: pointer;
    padding: 0 1rem;
    font-family: 'Salesforce Sans';
    font-size: 13px;
    vertical-align: middle;
    height: 32px;
    line-height: 1rem;
    text-decoration: none;
    border-radius: 4px;
    color: #005fb2;
    transition: color 0.05s linear, background-color 0.05s linear;
}
.slds-button:disabled, .slds-button:disabled:hover {
    cursor: auto;
    background-color: #dddddd;
    border-color: #dddddd;
}

.slds-button.link-button {
    padding: 0;
}

.slds-button.link-button a{
    padding: 6px 10px;
}

.slds-button>a {
    text-decoration: none;
    color: inherit;
}

.slds-button--brand {
    color: white;
    text-align: center;
    background-color: #0070d2;
    border: 1px solid #0070d2;
}

.slds-button--brand:hover,
.slds-button--brand:focus {
    background-color: #005fb2;
    color: white;
}

.slds-button--translucent {
    color: white;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
}

.slds-button--translucent:hover,
.slds-button--translucent:focus {
    background-color: transparent;
}

.slds-button--brand:active {
    background-color: #00396b;
}


.slds-button--neutral {
    color: #0070d2;
    text-align: center;
    background-color: white;
    border: 1px solid #0070d2;
}

.slds-button--neutral:focus,
.slds-button--neutral:hover {
    background-color: #f4f6f9;
}

.slds-button--neutral:active {
    background-color: #eef1f6;
}


/*PLACEHOLDER*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #747474;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #747474;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #747474;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #0070d2;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #f2f3f3;
    ;
    border: 0px none #ffffff;
    border-radius: 50px;
}


::-webkit-scrollbar-corner {
    background: transparent;
}