h2 {
    font-weight: 400;
}

.icon-settings {
    width: 24px;
    height: 24px;
}

#RateCardManager .slds-modal__container {
    z-index: 10;
    min-width: 600px;
    max-width: 90%;
    background-color: white;
    padding: 0;
    margin: 3rem auto;
}

#RateCardManager.expanded .slds-modal__container {
    max-width: 100%;
    margin: 0;
}

#RateCardManager .slds-modal__header {
    background-color: #f4f6f9;
}
#RateCardManager .slds-modal__body {
	padding: 12px 0px;
	background: #f4f6f9;
}

.rcm-modal-backdrop {
	z-index: 101;
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background-color: rgba(176, 173, 171, 0.8);
}

.rcm-modal-backdrop > div{
	z-index: 102;
}

.rcm-modal-backdrop.open {
	display: block;
	visibility: visible;
}
.rcm-modal-backdrop.closed {
	display: none;
	visibility: hidden;
}

.rcm-modal_header {
	padding: 16px;
    text-align: center;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #f0f2f7;
    border-bottom: 2px solid #f2f3f3;
}

.rcm-modal_header > h2{
    height: 26px;
    font-size: 20px;
    font-weight: normal;
    color: #222;
}

.rcm-modal_tabs {
	border-bottom: 2px solid #f2f3f3;
	background: white;
	height: 54px;
	padding: 10px 10px 0px 10px;
    margin-bottom: 1px;
}

.rcm-modal_tabs > .modal_tab {
    display: inline-block;
    padding: 16px 6px 6px 6px;
    font-size: 14px;
    /* text-transform: uppercase; */
    letter-spacing: 0.5px;
    color: #706e6b;
	border-bottom: 2px solid transparent;
}

.rcm-modal_tabs > .modal_tab:hover {
    cursor: pointer;
	border-bottom: 2px solid #1589ee;
}

.rcm-modal_tabs > .modal_tab.active {
	font-weight: bold;
	color: #3e3e3c;
	border-bottom: 2px solid #1589ee;
}

.rcm-modal_body {
    max-height: 60vh;
    overflow-y: auto;
    background: white;
}

.rcm-modal_footer {
    border: 0;
    padding: 16px;
    text-align: right;
    height: 64px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #f2f3f3;
}